a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #e882e8;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
}

h1 {
  width: 55%;
  font-size: 40px;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

p {
  width: 60%;
}

.bg {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding-bottom: 80px;
  margin-bottom: 0;
  background-color: hsl(257, 40%, 49%);
  background-image: url("../images/bg-desktop.svg");
  overflow: hidden;
}



.text {
  margin: 0;
  align-self: center;
  color: #ffffff;
  z-index: 1;
}

.image {
  padding: 150px 100px;
  align-self: center;
  z-index: 1;
  transform: translate(0, 30px);
}

.mockup {
  width: 500px;

}

.logo {
  position: absolute;
  width: 200px;
  height: 40px;
  padding: 20px;
  z-index: 1;
}

.attribution {
  width: 100%;
  position: absolute;
  text-align: center;

}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #e882e8;
  font-size: 20px;
  background: #f7f7f7;
  padding: 10px 30px 10px 30px;
  border: solid #faf5fa ;
  text-decoration: none;
}

.btn:hover {
  color: white;
  background: #e882e8;
  text-decoration: none;
}

.icons {
  position: absolute;
  display: flex;
  bottom: 50px;
  right: 80px;
}

.circle {
  display: flex;
  /* add this */
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  background-color: hsl(257, 40%, 49%);
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

.circle:hover {
  border-color: #e882e8;
}

@media(max-width:800px) {
  html, body {
    overflow-x: hidden;
  }

  .bg {
    flex-direction: column;
    width: 100%;
    padding-bottom: 6rem
  }

  .mockup {
    width: 350px;
    padding-left: 20px;
  }




  h1 {
    width: 100%;
    text-align: center;
  }

  p {
    width: 63%;
    font-size: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
    padding-bottom: 20px;
  }

  .attribution {
    width: 70%;
    bottom: 30px;
    right: 60px;

    transform: translate(-8px,420px);
  }

  .btn {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15rem;
  }

  .icons {
    position: absolute;
    bottom: 15%;
    right: 35%;
  }
}
